wsdl-demo/wsdl-client-demo/src/main/wsdl/hello.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<xs:schema xmlns:tns="http://server.wsdl.demo.huaminglin/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://server.wsdl.demo.huaminglin/"
  version="1.0">

  <xs:complexType name="helloRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="tns:helloStatus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="helloStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS"/>
      <xs:enumeration value="FAILURE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
